In [1]:
import pandas as pd

from sklearn import linear_model
from datetime import date

df = pd.read_csv('house_prices_records.csv',sep=',')

In [2]:
df.head()

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,NaN,460,RFn,...,80.0,0.0,0,8,6,1262,NaN,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,NaN,2001,2002,223500
3,961,NaN,NaN,No,216,ALQ,540,NaN,642,Unf,...,60.0,0.0,35,5,7,756,NaN,1915,1970,140000
4,1145,NaN,4.0,Av,655,GLQ,490,0.0,836,RFn,...,84.0,350.0,84,5,8,1145,NaN,2000,2000,250000

In [3]:
# cambiamos las casa que no tienen segundo piso a 0 mt2
df['2ndFlrSF'] = df['2ndFlrSF'].fillna(0)
# nuestra nueva area sera la suma de ambos pisos
df['area'] = df['1stFlrSF']+ df['2ndFlrSF']

df['house_years'] =  date.today().year - df['YearBuilt']

In [4]:
df['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [5]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'house_years']], df['SalePrice'])

LinearRegression()

In [6]:
reg.predict([[1710,18]])

array([233869.59361105])

In [7]:
reg.coef_

array([   93.82116558, -1019.97448866])

In [8]:
reg.intercept_

91794.94126612403

In [9]:
# formula para regresion linear
# nuestros coeficientes son los terminos en la tabla en este caso area, roomcount, buildingage
# debemos multiplicar cada coeficiente por el valor que nosotros daremos, este lo llamaremos Xn
# y = a(intercepto) + b1X1 + b2X2 + b3X3... (en caso de tener mas coeficientes se agregan estos)

# definimos el intercepto como a
# definimos nuestros coeficiente como Bn, con su indice correspondiente
a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
# b3 = reg.coef_[2]

# los valores de la casa seran los siguientes, en orden de area, numero de piezas, antiguedad de la vivienda

x1 = 1710
x2 = 18
# x3 = 10

# aplicamos la formula de regresion lineal

y = a + b1*(x1) + b2*(x2)

y

233869.59361104577